In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Vilket dataset är bäst?
Vi börjar med att kika på vilket dataset som är lämpligast att träna vår modell med.

In [ ]:
def plt_data( data ):
    ...

In [19]:
plt_data( pd.read_csv("random_data.csv") )
plt_data( pd.read_csv("random_data_2.csv") )
plt_data( pd.read_csv("random_data_3.csv") )

   feature_1  feature_2  target
0   0.811586   1.977330       1
1  -0.283428  -1.368891       0
2  -0.281272   0.858368       1
3   0.617176   1.293528       1
4   1.080526   0.815136       1